 <section class="contenedor sobre-nostros">
                
                <div class="contenedor-sobre-nosotros">
                    <img src="https://i1.wp.com/goula.lat/wp-content/uploads/2019/11/Mermeladas-con-menos-azu%CC%81car-y-ma%CC%81s-fruta.jpg?resize=980%2C654&ssl=1" alt="" class="imajen">
                    <div class="contenido-texto">
                        <h2>Aserca de nosotros</h2>
                        <h2>Mermeladas Artesanale</h2>
                        <p>Producto vegano sin gluten sin colorantes ni conservantes</p>
                        <p>Degusta nuestras mermeladas artesanales sin conservantes ni colorantes y alto contenido en fruta.</p>
                        <button id="font-2">PRODUCTOS</button>
                    </div>
                </div>
  </section> 