
<!--HEADER-->
        <header class="header">
            <div class="banner">
                <h3 id="font-1">Hechas con cariño</h3>
                <h1>Mermeladas Artesalanes</h1>
                <button id="font-2">EXPLORAR</button>
            </div>
        </header