<!--PRODUCTS-->
<section class="products">
        <div class="content-products">
            <div id="products-information">
                <h3>Mermeladas Artesanales</h3>
                <h2>Nuestro ProductoS</h2>
                <p>Nuestra mermelada natural extra es muy rica en fruta (62 a 65%) y baja en azúcar (42%), con un gran sabor natural, especial textura e intenso aroma que hacen de ella el complemento ideal para tus desayunos, postres y el resto de posibilidades gastronómicas.</p>
                <button id="font-2">RECETAS</button>
                
            </div>
            <div id="products-services">
               {{catagolo}}
            </div>
        </div>
    </section>